* {
    font-family: Poppins;
  }

p{
    font-size: 20px;
    padding-top: 20px;
}
.about-page {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.box {
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
}

.about-pic {
    margin-top: 50px;
    max-width: 100%; /* Ensure that each image is the same size */
    height: auto;
}