.about-page {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
}

.about-pic {
    margin-top: 20px;
    max-width: 60%; /* Ensure that each image is the same size */
    height: auto;
}