* {
  font-family: Inter;
  border: 0;
  margin: 0;
  padding: 0;
}

.imagesss {
  width: 20em;
  height: 30em;
  background-position: 50%;
  flex: none;

}

.horizontal-line {
  border-top: 1px solid black;
}

.wrapper {
  display: flex;
  flex-direction: column;
}